@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Libre+Baskerville:wght@700&display=swap');

body{
  background: #EFEFEF;
}

a.navbar-brand{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 30px;
}

.font-weight-500{
	font-weight: 500;
}

.foodways-modal{
	width: 300px;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.foodways-navbar{
	z-index: 200;
}

.landing-page{
	left: 0;
	right: 0;
	top: 0;
	height: 558px;
	z-index: 100;
}

.landing-position{
	margin-top: 150px;
}

.landing-text h1{
	font-size: 55px;
	font-family: 'Libre Baskerville', serif;
}

.line{
	border-top: 5px solid rgba(67, 52, 52, 1);
	width: 100%;
	margin-top: 15px;
}

.description{
	font-size: 14px;
	font-family: 'Comfortaa', cursive;
}

.pizza img{
	position: absolute;
	width: 408px;
	height: 393px;
	right: 0;
	top: -50px;
}

.popular-restourant{
	margin-top: 560px;
  font-family: 'Libre Baskerville', serif;
}

.popular-restourant-title{
  font-size: 20px;
}

.popular-restourant h2{
	font-family: 'Libre Baskerville', serif;
}

.restourant-near-you{
	font-family: 'Libre Baskerville', serif;
}

.restourant-near-you-item img{
  width: 100%;
}

.restourant-near-you-item h6{
  height: 30px;
}

.restourant-near-you-item span{
  font-size: 12px;
}
